#!/usr/bin/env bash

wid=$1
class=$2
instance=$3
consequences=$4

# dunstify "$wid $class $instance"

case $class in
    eudic|steam)
        total_desktops=$(bspc query -D | wc -l)
        echo "desktop=^$total_desktops follow=on"
        ;;
    TelegramDesktop)
        title=`xtitle $wid`
        if [[ "$title" != "Media viewer" ]] && [[ "$title" != "Choose Files" ]]; then
            total_desktops=$(bspc query -D | wc -l)
            echo "desktop=^$total_desktops follow=on"
        fi
esac
