*{
    all: unset;
    font-family: feather, Maple Mono SC NF;
}

/** General **/
.bar_class {
    background-color: $bg;
    border-radius: 10px;
}
.module {
    margin: 0px 0px 0px 0px;
    border-radius: 10px 16px 0px 10px;
}

/** tooltip!! **/
tooltip.background {
    background-color: $bg;
    font-size: 18;
    border-radius: 10px;
    color: $text;
}

tooltip label {
    margin: 6px;
}


/** Widgets **/

.clock_time_sep {
    font-size: 16;
    color: $color1;
    margin: 0px 4px 1px 4px;
}
.clock_time_class, .clock_minute_class {
    font-size: 23;
}
.clock_date_class {
    font-size: 18;
    margin: 0px 20px 0px -1px;
    color: $color2;
}
.clock_minute_class {
    margin: 0px 20px 0px 3px;
    color: $color1;
}

.clock_time_class {
    color: $color1;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}


.membar {
    color: $muted_orange;
    background-color: $grey;
    border-radius: 10px;
}
.volbar trough highlight {
    background-image: linear-gradient(to right, $volbar1 30%, $volbar2 50%, $volbar3 100% *50);
    border-radius: 10px;
}
.volume_icon {
    font-size: 22;
    color: $volume_icon;
    margin: 0px 10px 0px 10px;
}

.tray_icon {
    font-size: 22;
    color: rgba($teal, 0.85);
    margin: 0px 10px 0px 10px;
}


.ssid_text {
    font-size: 18;
    color: $text;
    margin: 0px 10px 0px 0px;
}
.wifi_icon, .wifi_off_icon {
    font-size: 22;
    border-radius: 100%;
    margin: 0px 10px 0px 5px;
}
.wifi_icon {
    color: $wifi_icon;
}
.wifi_off_icon {
    color: $wifi_off_icon;
}

.iconmem {
    color: $muted_orange;
    font-size: 15;
    margin: 10px;
}

.separ {
    color: $grey2;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 8px 0px 8px;
}

.mem_module {
    background-color: $bg;
    border-radius: 16px;
    margin: 0px 10px 0px 3px;
}


scale trough {
    all: unset;
    background-color: $bg3;
    box-shadow: 0 2px 3px 2px $shadow;
    border-radius: 16px;
    min-height: 10px;
    min-width: 70px;
    margin: 0px 10px 0px 0px;
}

.works {
    font-size: 27px;
    font-weight: normal;
    margin: 5px 0px 0px 5px;
}

.work_focus, .work_unfocus, .work_unoccupied {
    margin: 0px 10px 0px 0px;
}

/* Unoccupied */
.work_unoccupied {
    color: $grey2;
}

/* Occupied */
.work_unfocus {
    color: $blue;
}

/* Focused */
.work_focus {
    color: $work_focus;
}

.powermenu_botton {
    color: $powermenu_icon;
    font-size : 18px;
    font-weight : bold;
    margin: 2px 0px 0px 25px;
}


.song_cover_art {
    background-size: cover;
    background-position: center;
    min-height: 24px;
    min-width: 24px;
    margin: 10px;
    border-radius: 100px;
}

.song {
    color: $text;
    font-size : 18px;
    font-weight : bold;
    margin : 3px 5px 0px 0px;
}

.song_btn_play {
    color: $text2;
    font-size : 32px;
    margin : 3px 0px 0px 5px;

}


.song_btn_prev, .song_btn_next {
    color: $song_btn;
    font-size : 24px;
    margin : 3px 0px 0px 5px;

}
// Calendar
.cal {
    background-color: $bg;
    font-family: Maple Mono SC NF;
    font-size: 18px;
    font-weight: normal;

    .cal-in {
        padding: 0px 10px 0px 10px;
        color: $color1;

        .cal {
            &.highlight {
                padding: 20px;
            }

            padding: 5px 5px 5px 5px;
            margin-left: 10px;
        }
    }
}

calender {
    color: $color1;
}
calendar:selected {
    color: $blue;
}

calendar.header {
    color: $teal;
    font-weight: bold;
}

calendar.button {
    color: $calendar_btn;
}

calendar.highlight {
    color: $teal;
    font-weight: bold;
}

calendar:indeterminate {
    color: $color1;
}


.sys_sep {
    color: $grey;
    font-size: 18;
    margin: 0px 10px 0px 10px;
}
.sys_text_mem_sub {
    font-size: 16;
    color: $text;
    margin: 5px 0px 0px 25px;
}
.sys_text_mem {
    font-size: 21;
    font-weight: bold;
    margin: 14px 0px 0px 25px;
}
.sys_icon_mem {
    font-size: 30;
    margin: 30px;
}
.sys_win {
    background-color: $bg;
}
.sys_mem {
    color: $system_info;
    background-color: $grey;
    border-radius: 10px;
}
.sys_icon_mem, .sys_text_mem {
    color: $system_info;
}
.sys_mem_box {
    border-radius: 16px;
    margin: 10px 10px 15px 20px;
}
