.player_box {
    background-color: #1b1a27;
    border-radius: 16px;
}
.player_cover_art {
    background-size: cover;
    background-position: center;
    min-height: 100px;
    box-shadow: 5px 5px 5px 5px #06060b;
    min-width: 170px;
    margin: 20px;
    border-radius: 20px;
}

.player_title {
    color: #cecacd;
    font-size : 20px;
    font-weight : bold;
    margin : 20px 0px 0px -15px;
}

.player_artist {
    color: #dfdad9;
    font-size : 16px;
    font-weight : normal;
    margin : 0px 0px 0px 0px;
}

.player_btn_prev, .music_btn_play, .music_btn_next {
    font-family: "Maple Mono SC NF";
}
.player_btn_prev {
    color: #dfdad9;
    font-size : 32px;
    font-weight : normal;
    margin: 0px 0px 0px 0px;
}
.player_btn_play {
    color: #cecacd;
    font-size : 48px;
    font-weight : normal;
    margin: 0px 0px 0px 0px;
}
.player_btn_next {
    color: #dfdad9;
    font-size : 32px;
    font-weight : normal;
    margin: 0px 0px 0px 0px;
}

.player_seek_bar scale trough highlight {
    all: unset;
    background-image: linear-gradient(to right, #f4cde8 30%, #debdd9 50%, #d2acd9 100% *50);
    border-radius: 24px;
}
.player_seek_bar scale trough {
    all: unset;
    background-color: #232232;
    box-shadow: 0 6px 5px 2px #06060b;
    border-radius: 24px;
    min-height: 13px;
    min-width: 190px;
    margin : -10px 10px 20px 0px;
}

