$bg: #1f262a;
$bg2: #262c33; // background color for music player's scale trough
$bg3: #2d3638; // background color for bar's scale trough
$shadow: #1e2426;
$text: #d3c6aa;
$text2: #e0d3ba;

// music player progress bar
$player_bar1: #bde092;
$player_bar2: #b0c980;
$player_bar3: #98b170;

// powermenu's buttons
$shutdown_icon: #e67e80;
$reboot_icon: #7eb88c;
$logout_icon: #77b3aa;
$lock_icon: #cb8fad;
$hibernate_icon: #e09371;
$suspend_icon: #a7c080;
$pm_button_bg: #0c5304;

$red: #e67e80;
$muted_orange: #dbbc7f;
$grey: #475258;
$grey2: #3a4d67; // for unoccupied desktop icon and separation
$teal: #b6ddc0; // for tray icon and calendar
$blue: #7fbbb3; // for unfocused desktop icon and calendar's selected date, brighter variant

$color1: #d3c6aa; // for calendar and clock
$color2: #dbbc7f; // for clock date

// for volume bar
$volbar1: #e1a1c4;
$volbar2: #c896b3;
$volbar3: #bd8398;
$volume_icon: #d69db9;

$wifi_icon: #a7c080;
$wifi_off_icon: #56635f;

$work_focus: #e69c73;
$powermenu_icon: #e67e80;
$song_btn: #ddceb0; // for buttons switching the song
$calendar_btn: #a7c080; // calendar button
$system_info: #e8bc7f;
