$bg: #1b1a27;
$bg2: #232232; // background color for music player's scale trough
$bg3: #22242b; // background color for bar's scale trough
$shadow: #06060b;
$text: #cecacd;
$text2: #dfdad9;

// music player progress bar
$player_bar1: #f4cde8;
$player_bar2: #debdd9;
$player_bar3: #d2acd9;

// powermenu's buttons
$shutdown_icon: #dd6777;
$reboot_icon: #9ec49f;
$logout_icon: #7aa2f7;
$lock_icon: #6C77BB;
$hibernate_icon: #a39ec4;
$suspend_icon: #ceb188;
$pm_button_bg: #8170a9;

$red: #dd6777;
$muted_orange: #e0b089;
$grey: #38384d;
$grey2: #3e424f; // for unoccupied desktop icon and separation
$teal: #a1bdce; // for tray icon and calendar
$blue: #7aa2f7; // for unfocused desktop icon and calendar's selected date

$color1: #bfc9db; // for calendar and clock
$color2: #d7beda; // for clock date

// for volume bar
$volbar1: #cfb2ee;
$volbar2: #c4a7e7;
$volbar3: #907aa9;
$volume_icon: #c4a7e7;

$wifi_icon: #7dc5a0;
$wifi_off_icon: #575268;

$work_focus: #f6c177;
$powermenu_icon: #eb6f92;
$song_btn: #f4ede8; // for buttons switching the song
$calendar_btn: #afbea2; // calendar button
$system_info: #e4c9af;
